:root{
    --default-green: #1db954;
    --light-green: #1ed760;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
/* utiliy classes */
.btn-primary {
    background: var(--default-green);
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}
.btn-primary:hover{
    background-color: var(--light-green);
    cursor: pointer;
}
.logo{
    height: 30px;
    width: auto;

}
#navbar {
    display: flex;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}
#navbar .navbar-container{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 0 ;

}
    #navbar .navbar-container ul{
        display: flex;
        list-style: none;
        /* font-weight: bold; */
        
    }
    #navbar .navbar-container ul li{
        padding: 0 20px;
        transition: 300ms ease;

    }
    #navbar .navbar-container ul li:hover{
        color: var(--default-green);
        cursor: pointer;

    }
    #navbar .navbar-container ul li:nth-chilf(3){
        border-right: 1px solid white;
    }
    /* showcase */
#showcase {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url(img/showcase.webp) center center/cover;
    background-color: rgb 0, 0, 0, 0.4;
    background-blend-mode: color;
}
#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
#showcase .showcase-container h2{
    font-size: 3.5rem;
    margin-top: 30px ;
}
#showcase .showcase-container p {
    margin: 15px 0;
    font-size: 0.69rem;
}
/* footer */
#footer{
    background: black;
    color: white;
    padding: 80px 0;
}

#footer .footer-content {
    display: flex;
    width:56%;
    margin: auto;
    justify-content: space-between;      
}
#footer .footer-content .footer-menu {
    margin: 0 20px;
    list-style: none;   
}

#footer .footer-content .footer-menu .footer-menu-items{
    margin: 25px 0;
    transition: all 300ms ease;   
}

#footer .footer-content .footer-menu .footer-menu-items:hover{
    color: var(--default-green);
    cursor: pointer;
}

#footer .footer-content .footer-menu p {
    font-weight: bold;
    text-transform: uppercase;
    color: #919496;
    font-size: 0.8rem;
}
/* footr socials */
.socials {
    display: flex;
}
.socials i {
    margin: 0 05px;
    font-size: 1.7rem;
    transition: all 300ms ease;
}
.socials  :hover {
    color: var(--default-green);
    cursor: pointer;
}
/* footer info */
.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 58%;
    margin: auto;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    padding-top: 50px;
    
}
.footer-info .footer-info-items{
    display: flex;
    list-style: none;
    
}
.footer-info .footer-info-items .footer-info-items{
    margin: 0 10px;
    transition: all 300ms ease;
}
.footer-info .footer-info-items li:hover {
    color: var(--default-green);
    cursor: pointer;
}

.footer-info .rights {
    display: flex;
    flex-direction: column;
}
.footer-info .rights .country {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    transition: all 300ms ease;
    
}
footer-info .rights .country p {
    transition: all 300ms ease;
}
.footer-info .rights .country p:hover{
    color:var(--default-green);
    cursor: pointer;
}
.footer-info .rights .country .brazil-flag {
    height: 20px;
    width: auto;
    display:inline-block;
    margin-left: 10px;}

